.note {
  position: fixed;
  z-index: 1000;
  border: 1px solid black;
  background: white;
  padding: 5px;
  font: italic 14px serif;
  text-align: center;
}

blockquote {
  display: inline-block;
  margin: 0 0 0 100px;
  border-left: 10px solid #ccc;
  background: #f9f9f9;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  white-space: pre;
}

blockquote:before {
  vertical-align: -0.4em;
  margin-right: 0.25em;
  content: open-quote;
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
}
