.tooltip {
  position: fixed;
  z-index: 100;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

  border: 1px solid #b3c9ce;
  border-radius: 4px;
  background: #fff;

  padding: 10px 20px;
  color: #333;
  font: italic 14px/1.3 sans-serif;
  text-align: center;
}

#house {
  margin-top: 50px;
  border: 1px solid brown;
  width: 400px;
}

#roof {
  margin-top: -20px;
  border-right: 200px solid transparent;
  border-bottom: 20px solid brown;
  border-left: 200px solid transparent;
  width: 0;
  height: 0;
}

p {
  margin: 10px 3px;
  text-align: justify;
}
