.page-header {
  justify-content: center;
  gap: 10px;
  padding: 15px 10px 0;
}

.tables-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
  width: 100%;
}

.grid-wrapper {
  flex: 0 1 500px;
  margin: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.charts-container {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  font-size: 14px;
}

#apply-income-filter,
#apply-expenses-filter {
  padding: 2px;
  font-size: 14px;
}

.chart-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

#apply-income-filter,
#apply-expenses-filter {
  font-size: 14px;
  padding: 4px 10px;
}

.modal-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.modal-content {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: white;
  padding: 25px;
  width: 320px;
  text-align: center;
}

.modal-input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#modal-category,
#modal-sum,
#modal-date {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
}
